@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --main-color: #c42e2e;
  --black: #13131a;
  --bg: #e59a2d;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

/* GENERAL CSS */
/* CSS */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  user-select: none;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: #d07e20;
}

html::-webkit-scrollbar-thumb {
  background: #f69207;
  border-radius: 5rem;
}

body {
  /* background-color: var(--bg); */
  background-color: #d39726;
  /* background-color: #ffba00; */
}

.section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  /* color: #cc6419; */
  text-transform: uppercase;
}

/* HEADER */

.header {
  /* background-color: var(--bg); */
  background-color: #cc6419;
  /* background-color: #c26728; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo__img {
  height: 6rem;
}

.navbar__link {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.navbar__link:hover {
  color: var(--main-color);
  font-weight: bold;
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

/* HOME */

.home {
  min-width: 100vh;
  height: 600px;
  display: flex;
  align-items: center;
  background: url(../img/avion.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  z-index: 0;
}

.content {
  max-width: 60rem;
}

.content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  /* color: #db7b2d; */
  color: #c45927;
}

.content .text {
  font-size: 4rem;
  color: #db7b2d;
  /* font-weight: lighter; */
  /* line-height: 1.8; */
  padding: 1rem 0;
}

/* ABOUT US */

.about-us .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d07e20;
}

.about-us .row .image {
  flex: 1 1 45rem;
  display: flex;
  justify-content: center;
}

.about-us .row .image img {
  width: 50%;
}
.about-us .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about-us .row .content h3 {
  font-size: 3rem;
  color: var(--main-color);
}

.about-us .row .content p {
  font-size: 1.6rem;
  padding: 1rem 0;
  line-height: 1.8;
  color: white;
}

/* VISIÓN Y MISIÓN*/

.vision-mision .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.vision-mision .row .content {
  flex: 1 18 45rem;
  padding: 2rem;
}

.vision-mision .row .content h3 {
  font-size: 3rem;
  color: white;
}

.vision-mision .row .content p {
  font-size: 1.6rem;
  padding: 1rem 0;
  line-height: 1.8;
}

/* PROVEEDORES */

.providers .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
}

.providers .box-container .box {
  padding: 5rem;
  text-align: center;
  border: var(--border);
  border: 10%;
  border-radius: 10%;
  background-color: #d07e20;
}

.providers .box-container .box img {
  height: 15rem;
  width: 20rem;
  object-fit: cover;
}

.providers .box-container .box h3 {
  color: white;
  font-size: 2rem;
  padding: 1rem 0;
}

.providers .box-container .box .price {
  color: white;
  font-size: 2.5rem;
  padding: 5rem 0;
}

.providers .box-container .box .price span {
  color: white;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.providers .box-container .box:hover {
  background-color: white;
  color: black;
}

.providers .box-container .box h3:hover {
  color: var(--main-color);
}

/* PRODUCTOS */

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  border-radius: 10%;
  background-color: #d07e20;
  /* box-shadow: 0 0 .5px .5px black; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
}

.products .box-container .box:hover > * {
  color: var(--black);
}

.products .box-container .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: white;
  margin: 0.3rem;
}

.products .box-container .box .icons a:hover {
  background-color: var(--main-color);
}

.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 25rem;
  width: 30rem;
  object-fit: cover;
}

.products .box-container .box .content h3 {
  color: white;
  font-size: 2.5rem;
}

.products .box-container .box .content .stars {
  padding: 1.5rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--main-color);
}

.products .box-container .box .content .price {
  color: white;
  font-size: 2.5rem;
}

.products .box-container .box .content .price span {
  text-decoration: line-through;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* CLIENTES */

.clients .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.clients .box-container .box {
  border: var(--border);
  border-radius: 10%;
  background-color: #d9771d;
  text-align: center;
  padding: 3rem 2rem;
}

.clients .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #ccc;
  padding: 2rem 0;
}

.clients .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.clients .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: white;
}

.clients .box-container .box i {
  font-size: 2rem;
  color: var(--main-color);
}

/* CONTACT */

.contact .row {
  display: flex;
  /* background-color: var(--black); */
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: white;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* background-color: black */
  border: var(--border);
}

.contact .row form .inputBox span {
  color: var(--main-color);
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 3rem;
  font-size: 1.7rem;
  color: white;
  text-transform: none;
  background: none;
}

.btn {
  background-color: #d9771d;
  height: 5rem;
  width: 10rem;
  border-radius: 10%;
  cursor: pointer;
}

/* FOOTER */

.footer {
  background-color: #cc6419;
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share .share__links {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: white;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share .logo__umg img {
  height: 5.5rem;
  position: relative;
  top: 19px;
}

.footer .share .share__links:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: white;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background-color: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  padding: 1.5rem;
}

/* .footer .credit span {
  color: var(--main-color);
  color: #fca400;
  font-weight: bold;
} */

.footer .credit p {
  /* color: var(--main-color); */
  /* color: #fca400; */
  font-style: italic;
}

/* SWIPER */

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper__image {
  width: 40%;
  height: 100vh;
  object-fit: cover;
  color: #d07e20;
  font-size: 5rem;
  padding: 2rem;
}

.swiper__image h3 {
}

.swiper__img {
  background: url(../img/tripulacion2.jpeg) no-repeat;
}

.swiper__img2 {
  background: url(../img/avion.jpg) no-repeat;
}

.swiper__img3 {
  background: url(../img/tripulacion3.jpeg) no-repeat;
}

/* MEDIA Q */

@media (max-width: 1040px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2 rem;
  }

  .section {
    padding: 2rem 7%;
  }

  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .navbar.active {
    right: 0;
  }

  .navbar__link {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--black);
  }
}

@media (max-width: 600px) {
  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content {
    margin-right: 30%;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 530px) {
  .home .content h3 {
    font-size: 2.5rem;
    margin-right: 30%;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .content {
    margin-right: 55%;
  }

  .home .content h3 {
    font-size: 2.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}
